body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b3b7e2;
}

header {
    background-color: #180863;
    color: #f17107;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 1rem 0;
}
.logo {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 150px;
    height: auto;
}

.exercise {
    position:relative;
    top: 16px;
    left: 16px;
    margin: 15px;
    width: 300px;
    height:150px;
    float: right;
    border-radius: 5px;
}

.sleep {
    position:relative;
    top: 16px;
    left: 16px;
    margin: 15px;
    width: 250px;
    height:150px;
    float: right;
    border-radius: 5px;
}

.mentalhealth {
    position:relative;
    top: 16px;
    left: 16px;
    margin: 15px;
    width: 250px;
    height:150px;
    float: right;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #282b5a;
}

nav ul li {
    display: inline;
    margin: 0;
}

nav ul li a {
    color: rgb(228, 235, 235);
    text-decoration:double;
    font-family:cursive;
    padding: 1rem;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #0faddd;
}

main {
    padding: 1rem;
}

#exercise p {
    color: rgb(70, 34, 155);
    font-weight: bolder;
    font-size:large;
}

#exercise ul li {
    color: #d10dd8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#sleep p {
    color: rgb(70, 34, 155);
    font-weight: bolder;
    font-size:large;
}

#sleep ul li {
    color: #d10dd8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#mental-health p {
    color: rgb(70, 34, 155);
    font-weight: bolder;
    font-size:large;
}

#mental-health ul li {
    color: #d10dd8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

section {
    background-color: rgb(180, 202, 228);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
}

section h2 {
    color: #2d107e;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    font-style: oblique;
}

ul {
    list-style-type:disc;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #180863;
    color: #f17107;
    position:relative;
    bottom: 0;
    width: 100%;
}
